In [16]:
import pandas as pd

In [17]:
stats = pd.read_csv('Full_NFL_Stats_2022.csv')

In [18]:
stats.head()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
0,0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,1.0,13.0
1,1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,NaN,4.0
2,2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,NaN,62.0
3,3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,NaN,23.0
4,4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,NaN,8.0

In [19]:
stats.groupby('teamName')

In [21]:
stats.sort_values('rank',ascending=True)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
5242,27,Jets,Team Games Played,The amount of games played.,TGP,17.000000,NaN,1.0
7100,15,Seahawks,One Point Safeties Made,One Point Safeties Made,OPSM,0.000000,NaN,1.0
4568,1,Patriots,Defensive Fumble Return Yards,The amount of total yardage from fumble returns.,DFRYDS,0.000000,NaN,1.0
4567,0,Patriots,Defensive Fumbles Returns,The number of fumble returns.,DFR,0.000000,NaN,1.0
4563,39,Patriots,Team Games Played,The numbers of team games played.,GP,17.000000,NaN,1.0
...,...,...,...,...,...,...,...,...
6352,41,Chargers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.112000,6.255814,NaN
7174,41,Buccaneers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,5.932730,5.977778,NaN
7448,41,Commanders,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,5.767442,6.000000,NaN
7722,41,Panthers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.077079,6.285714,NaN
7996,41,Jaguars,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.344551,6.444444,NaN

In [25]:
stats.dropna(subset='rank',inplace=True)

In [26]:
stats.sort_values('rank',ascending=True)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
5242,27,Jets,Team Games Played,The amount of games played.,TGP,17.000000,NaN,1.0
7100,15,Seahawks,One Point Safeties Made,One Point Safeties Made,OPSM,0.000000,NaN,1.0
4568,1,Patriots,Defensive Fumble Return Yards,The amount of total yardage from fumble returns.,DFRYDS,0.000000,NaN,1.0
4567,0,Patriots,Defensive Fumbles Returns,The number of fumble returns.,DFR,0.000000,NaN,1.0
4563,39,Patriots,Team Games Played,The numbers of team games played.,GP,17.000000,NaN,1.0
...,...,...,...,...,...,...,...,...
6353,42,Chargers,Quarterback Rating,Quarterback Rating.,RAT,93.334990,90.188423,102.0
7175,42,Buccaneers,Quarterback Rating,Quarterback Rating.,RAT,89.777500,85.675766,106.0
7156,23,Buccaneers,Passer Rating,Passer Rating,RTG,89.777500,85.675766,106.0
4964,23,Giants,Passer Rating,Passer Rating,RTG,91.111664,92.513611,114.0
4983,42,Giants,Quarterback Rating,Quarterback Rating.,RAT,91.111664,92.513611,114.0

In [30]:
stats.drop('perGameValue',axis=1)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,rank
0,0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,13.0
1,1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,4.0
2,2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,62.0
3,3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,23.0
4,4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,8.0
...,...,...,...,...,...,...,...
8763,18,Texans,Total Penalties,The total number of total penalties.,TPEN,88.0,24.0
8764,19,Texans,Total Penalty Yards,The total number of penalty yards.,TPY,644.0,29.0
8765,20,Texans,Total Takeaways,The total number of takeaways.,TT,27.0,4.0
8766,21,Texans,Total Drives,The total number of drives.,D,0.0,1.0
8767,22,Texans,Turnover Ratio,Difference between take-aways and give-aways,DIFF,-1.0,16.0

In [33]:
rows = stats.loc[stats['rank'] > 32]
print(rows)

      Unnamed: 0 teamName            displayName  \
2              2  Falcons         Forced Fumbles
32            23  Falcons          Passer Rating
35            26  Falcons   Net Passing Attempts
37            28  Falcons  Total Offensive Plays
51            42  Falcons     Quarterback Rating
...          ...      ...                    ...
8271          42   Ravens     Quarterback Rating
8331           0   Ravens         Assist Tackles
8353          22   Ravens          Total Tackles
8526          23   Texans          Passer Rating
8545          42   Texans     Quarterback Rating

                               description abbreviation        value  \
2      The total number of forced fumbles.           FF     8.000000
32                           Passer Rating          RTG    87.693340
35                   Net Passing Attempts.         NATT   452.000000
37    The number of total offensive plays.          TOP  1011.000000
51                     Quarterback Rating.          RAT    87.693340
...                                    ...          ...          ...
8271                   Quarterback Rating.          RAT    82.526665
8331     The number of assists on tackles.          AST   380.000000
8353          The total number of tackles.          TOT  1147.000000
8526                         Passer Rating          RTG    76.791664
8545                   Quarterback Rating.          RAT    76.791664

      perGameValue  rank
2              NaN  62.0
32       89.001389  79.0
35       26.000000  52.0
37       58.000000  53.0
51       89.001389  79.0
...            ...   ...
8271     82.521431  79.0
8331     20.000000  51.0
8353     61.000000  78.0
8526     74.833092  79.0
8545     74.833092  79.0

[150 rows x 8 columns]

In [42]:
interceptions = stats.loc[stats['displayName'] == 'Interception Percentage']
interceptions = interceptions.sort_values(by='rank')

In [43]:
completion = stats.loc[stats['displayName'] == 'Completion Percentage']
completion = completion.sort_values(by='rank')

In [41]:
pass_rating = stats.loc[stats['displayName'] == 'Passer Rating']
pass_rating = pass_rating.sort_values(by='value',ascending=False)

In [53]:
touchdowns = stats.loc[stats['description'] == 'The number of touchdowns scored in total.']
touchdowns = touchdowns.drop('rank',axis=1)
touchdowns = touchdowns.drop_duplicates()
touchdowns.sort_values(by='value',ascending=False)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue
3259,10,Chiefs,Total Touchdowns,The number of touchdowns scored in total.,TD,61.0,3.0
3054,31,Chiefs,Total Touchdowns,The number of touchdowns scored in total.,TD,61.0,3.0
5725,10,Eagles,Total Touchdowns,The number of touchdowns scored in total.,TD,59.0,3.0
5520,31,Eagles,Total Touchdowns,The number of touchdowns scored in total.,TD,59.0,3.0
1410,31,Cowboys,Total Touchdowns,The number of touchdowns scored in total.,TD,55.0,3.0
...,...,...,...,...,...,...,...
5246,31,Jets,Total Touchdowns,The number of touchdowns scored in total.,TD,29.0,1.0
8534,31,Texans,Total Touchdowns,The number of touchdowns scored in total.,TD,29.0,1.0
2780,31,Colts,Total Touchdowns,The number of touchdowns scored in total.,TD,28.0,1.0
2985,10,Colts,Total Touchdowns,The number of touchdowns scored in total.,TD,28.0,1.0
8739,10,Texans,Total Touchdowns,The number of touchdowns scored in total.,TD,28.0,1.0

In [47]:
bottom_qb = []

for df in [interceptions, completion, pass_rating]:

    bottom_names = list(df['teamName'].tail(16))

    bottom_qb += bottom_names

name_counts = {name: bottom_qb.count(name) for name in set(bottom_qb)}

final_names = [name for name in name_counts.keys() if name_counts[name] == 3]

print(final_names)

['Steelers', 'Broncos', 'Texans', 'Bears', 'Raiders', 'Panthers', 'Commanders', 'Ravens']